<header ng-switch on="$location.path().indexOf('/Applications/new') > -1">
    <h3 ng-switch-when="true">Create a new Application</h3>
    <h3 ng-switch-when="false">View or edit Application</h3>
</header>
<form id="ApplicationForm" name="ApplicationForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': ApplicationForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" required ng-maxlength="50" ng-minlength="1" class="form-control" ng-model="application.name" placeholder="Enter the Application Name"></input>
            <span class="help-block error" ng-show="ApplicationForm.name.$error.required">required</span> 
            <span class="help-block error" ng-show="ApplicationForm.name.$error.minlength">minimum length is 1</span>
            <span class="help-block error" ng-show="ApplicationForm.name.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ApplicationForm.description.$invalid}">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div id="descriptionControls" class="col-sm-10">
            <input id="description" name="description" type="text" required ng-maxlength="3000" class="form-control" ng-model="application.description" placeholder="Enter the Application Description"></input>
            <span class="help-block error" ng-show="ApplicationForm.description.$error.required">required</span> 
            <span class="help-block error" ng-show="ApplicationForm.description.$error.maxlength">maximum length is 3000</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ApplicationForm.customer.$invalid}">
        <label for="customer" class="col-sm-2 control-label">Customer</label>
        <div id="customerControls" class="col-sm-10">
        <select id="customer" name="customer" class="form-control" ng-model="customerSelection" ng-options="c.text for c in customerSelectionList"  >
            <option value="">Choose a Customer</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ApplicationForm.project.$invalid}">
        <label for="project" class="col-sm-2 control-label">Project</label>
        <div id="projectControls" class="col-sm-10">
        <select id="project" name="project" class="form-control" ng-model="projectSelection" ng-options="p.text for p in projectSelectionList"  >
            <option value="">Choose a Project</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ApplicationForm.currentPlatform.$invalid}">
        <label for="currentPlatform" class="col-sm-2 control-label">Current Platform</label>
        <div id="currentPlatformControls" class="col-sm-10">
        <select id="currentPlatform" name="currentPlatform" class="form-control" ng-model="currentPlatformSelection" ng-options="c.text for c in currentPlatformSelectionList"  >
            <option value="">Choose a Current Platform</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ApplicationForm.targetPlatform.$invalid}">
        <label for="targetPlatform" class="col-sm-2 control-label">Target Platform</label>
        <div id="targetPlatformControls" class="col-sm-10">
        <select id="targetPlatform" name="targetPlatform" class="form-control" ng-model="targetPlatformSelection" ng-options="t.text for t in targetPlatformSelectionList"  >
            <option value="">Choose a Target Platform</option>
        </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveApplication" name="saveApplication" class="btn btn-primary" ng-disabled="isClean() || ApplicationForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteApplication" name="deleteApplication" class="btn btn-danger" ng-show="application.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>